<ion-content class="bet-view" scroll="false">
	<div id="gam1_3" class="tabcontent">
		<p>冠军</p>
		<button class="btn btn-danger-outline bet ok" data-id="511107" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511108" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511109" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511110" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511111" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511112" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511113" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511114" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511115" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511116" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>亚军</p>
		<button class="btn btn-danger-outline bet ok" data-id="511207" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511208" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511209" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511210" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511211" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511212" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511213" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511214" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511215" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511216" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第三名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511307" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511308" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511309" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511310" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511311" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511312" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511313" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511314" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511315" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511316" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第四名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511407" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511408" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511409" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511410" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511411" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511412" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511413" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511414" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511415" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511416" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第五名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511507" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511508" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511509" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511510" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511511" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511512" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511513" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511514" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511515" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511516" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
	</div>
</ion-content>