<ion-content class="bet-view" scroll="false">

	<div id="gam1_4" class="tabcontent">
		<p>第六名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511607" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511608" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511609" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511610" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511611" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511612" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511613" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511614" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511615" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511616" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第七名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511707" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511708" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511709" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511710" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511711" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511712" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511713" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511714" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511715" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511716" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第八名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511807" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511808" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511809" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511810" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511811" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511812" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511813" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511814" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511815" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511816" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第九名</p>
		<button class="btn btn-danger-outline bet ok" data-id="511907" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511908" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511909" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511910" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511911" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511912" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511913" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511914" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511915" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511916" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第十名</p>
		<button class="btn btn-danger-outline bet ok" data-id="512007" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512008" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512009" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512010" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512011" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512012" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512013" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512014" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512015" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="512016" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
	</div>
</ion-content>