
<ion-content class="bet-view" scroll="false">

	<div id="gam1_1" class="tabcontent">
		<p>冠亚和</p>
		<button class="btn btn-danger-outline bet ok" data-id="511001" value="0">冠亚大<br><span class="r_ma bet-item">2.195<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511002" value="0">冠亚小<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511003" value="0">冠亚单<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511004" value="0">冠亚双<br><span class="r_ma bet-item">2.195<span></button>
		<p>冠军</p>
		<button class="btn btn-danger-outline bet ok" data-id="511103" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511101" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511105" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511104" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511102" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511106" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>亚军</p>
		<button class="btn btn-danger-outline bet ok" data-id="511203" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511201" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511205" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511204" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511202" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="511206" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>第三名</p>
		<button class="btn btn-danger-outline bet" data-id="511303" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511301" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511305" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511304" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511302" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511306" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>第四名</p>
		<button class="btn btn-danger-outline bet" data-id="511403" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511401" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511405" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511404" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511402" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511406" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>第五名</p>
		<button class="btn btn-danger-outline bet" data-id="511503" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511501" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511505" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511504" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511502" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511506" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>第六名</p>
		<button class="btn btn-danger-outline bet" data-id="511603" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511601" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511604" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511602" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<p>第七名</p>
		<button class="btn btn-danger-outline bet" data-id="511703" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511701" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511704" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511702" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<p>第八名</p>
		<button class="btn btn-danger-outline bet" data-id="511803" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511801" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511804" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511802" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<p>第九名</p>
		<button class="btn btn-danger-outline bet" data-id="511903" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511901" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511904" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="511902" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<p>第十名</p>
		<button class="btn btn-danger-outline bet" data-id="512003" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="512001" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="512004" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet" data-id="512002" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
	</div>
</ion-content>