<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<div id="sub-navs" ng-init="selectFirstSub();" style="display: none">
		<a class="nav-item" data-id="708900" play-type="HX" min-size="2" max-size="11">此处为了兼容连码的选号方式设定，实际并不显示在页面上</a>
	</div>

	<p>{{shareData.odds.length == 0 ? '合肖' : ('赔率：' + shareData.odds.toString())}}</p>
			
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="鼠" value="0">
		<span class="bet-content left pd3">鼠</span>
		<span class="right mr10 bet-round" zodiac='鼠' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="牛" value="0">
		<span class="bet-content left pd3">牛</span>
		<span class="right mr10 bet-round" zodiac='鼠' max="48"></span>
	</button>
	
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="虎" value="0">
		<span class="bet-content left pd3">虎</span>
		<span class="right mr10 bet-round" zodiac='虎' max="48"></span>
	</button>
	
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="兔" value="0">
		<span class="bet-content left pd3">兔</span>
		<span class="right mr10 bet-round" zodiac='兔' max="48"></span>
	</button>
	
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="龙" value="0">
		<span class="bet-content left pd3">龙</span>
		<span class="right mr10 bet-round" zodiac='龙' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="蛇" value="0">
		<span class="bet-content left pd3">蛇</span>
		<span class="right mr10 bet-round" zodiac='蛇' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="马" value="0">
		<span class="bet-content left pd3">马</span>
		<span class="right mr10 bet-round" zodiac='马' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="羊" value="0">
		<span class="bet-content left pd3">羊</span>
		<span class="right mr10 bet-round" zodiac='羊' max="48"></span>
	</button>
	
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="猴" value="0">
		<span class="bet-content left pd3">猴</span>
		<span class="right mr10 bet-round" zodiac='猴' max="48"></span>
	</button>
	
	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="鸡" value="0">
		<span class="bet-content left pd3">鸡</span>
		<span class="right mr10 bet-round" zodiac='鸡' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="狗" value="0">
		<span class="bet-content left pd3">狗</span>
		<span class="right mr10 bet-round" zodiac='狗' max="48"></span>
	</button>

	<button class="btn btn-danger-outline-sgd sub-bet ok" data-id="猪" value="0">
		<span class="bet-content left pd3">猪</span>
		<span class="right mr10 bet-round" zodiac='猪' max="48"></span>
	</button>
</div>
</ion-content>