<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs" ng-init="selectFirstSub();">
			<div class="row" ng-init="shareData.subIndex=1">
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1, $event);" data-id="0" play-type="LXLW" min-size="2" max-size="12">二连尾</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2, $event);" data-id="0" play-type="LXLW" min-size="3" max-size="12">三连尾</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==3}">
					<a class="item nav-item" ng-click="selectSubnav(3, $event);" data-id="0" play-type="LXLW" min-size="4" max-size="12">四连尾</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==4}">
					<a class="item nav-item" ng-click="selectSubnav(4, $event);" data-id="0" play-type="LXLW" min-size="5" max-size="12">五连尾</a>
				</div>
			</div>
		</ion-scroll>

		<div class="nav-content">
			<ion-content class="tp40" scroll="false">
				<div ng-if="shareData.subIndex==1">
					<p>二连尾</p>
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709949" value="0">
						<span class="bet-content left pd3">0尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">10</span>
							<span class="round-3 ball_e_label ball_b">20</span>
							<span class="round-3 ball_e_label ball_r">30</span>
							<span class="round-3 ball_e_label ball_r">40</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709950" value="0">
						<span class="bet-content left pd3">1尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">01</span>
							<span class="round-3 ball_e_label ball_g">11</span>
							<span class="round-3 ball_e_label ball_g">21</span>
							<span class="round-3 ball_e_label ball_b">31</span>
							<span class="round-3 ball_e_label ball_b">41</span>
						</span>
					</button>
			
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709951" value="0">
						<span class="bet-content left pd3">2尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">02</span>
							<span class="round-3 ball_e_label ball_r">12</span>
							<span class="round-3 ball_e_label ball_g">22</span>
							<span class="round-3 ball_e_label ball_g">32</span>
							<span class="round-3 ball_e_label ball_b">42</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709952" value="0">
						<span class="bet-content left pd3">3尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">03</span>
							<span class="round-3 ball_e_label ball_r">13</span>
							<span class="round-3 ball_e_label ball_r">23</span>
							<span class="round-3 ball_e_label ball_g">33</span>
							<span class="round-3 ball_e_label ball_g">43</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709953" value="0">
						<span class="bet-content left pd3">4尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">04</span>
							<span class="round-3 ball_e_label ball_b">14</span>
							<span class="round-3 ball_e_label ball_r">24</span>
							<span class="round-3 ball_e_label ball_r">34</span>
							<span class="round-3 ball_e_label ball_g">44</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709954" value="0">
						<span class="bet-content left pd3">5尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">05</span>
							<span class="round-3 ball_e_label ball_b">15</span>
							<span class="round-3 ball_e_label ball_b">25</span>
							<span class="round-3 ball_e_label ball_r">35</span>
							<span class="round-3 ball_e_label ball_r">45</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709955" value="0">
						<span class="bet-content left pd3">6尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">06</span>
							<span class="round-3 ball_e_label ball_g">16</span>
							<span class="round-3 ball_e_label ball_b">26</span>
							<span class="round-3 ball_e_label ball_b">36</span>
							<span class="round-3 ball_e_label ball_r">46</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709956" value="0">
						<span class="bet-content left pd3">7尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">07</span>
							<span class="round-3 ball_e_label ball_g">17</span>
							<span class="round-3 ball_e_label ball_g">27</span>
							<span class="round-3 ball_e_label ball_b">37</span>
							<span class="round-3 ball_e_label ball_b">47</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709957" value="0">
						<span class="bet-content left pd3">8尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">08</span>
							<span class="round-3 ball_e_label ball_r">18</span>
							<span class="round-3 ball_e_label ball_g">28</span>
							<span class="round-3 ball_e_label ball_g">38</span>
							<span class="round-3 ball_e_label ball_b">48</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709958" value="0">
						<span class="bet-content left pd3">9尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">09</span>
							<span class="round-3 ball_e_label ball_r">19</span>
							<span class="round-3 ball_e_label ball_r">29</span>
							<span class="round-3 ball_e_label ball_g">39</span>
							<span class="round-3 ball_e_label ball_g">49</span>
						</span>
					</button>
				</div>
				
				<div ng-if="shareData.subIndex==2">
			
					<p>三连尾</p>
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709959" value="0">
						<span class="bet-content left pd3">0尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">10</span>
							<span class="round-3 ball_e_label ball_b">20</span>
							<span class="round-3 ball_e_label ball_r">30</span>
							<span class="round-3 ball_e_label ball_r">40</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709960" value="0">
						<span class="bet-content left pd3">1尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">01</span>
							<span class="round-3 ball_e_label ball_g">11</span>
							<span class="round-3 ball_e_label ball_g">21</span>
							<span class="round-3 ball_e_label ball_b">31</span>
							<span class="round-3 ball_e_label ball_b">41</span>
						</span>
					</button>
			
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709961" value="0">
						<span class="bet-content left pd3">2尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">02</span>
							<span class="round-3 ball_e_label ball_r">12</span>
							<span class="round-3 ball_e_label ball_g">22</span>
							<span class="round-3 ball_e_label ball_g">32</span>
							<span class="round-3 ball_e_label ball_b">42</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709962" value="0">
						<span class="bet-content left pd3">3尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">03</span>
							<span class="round-3 ball_e_label ball_r">13</span>
							<span class="round-3 ball_e_label ball_r">23</span>
							<span class="round-3 ball_e_label ball_g">33</span>
							<span class="round-3 ball_e_label ball_g">43</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709963" value="0">
						<span class="bet-content left pd3">4尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">04</span>
							<span class="round-3 ball_e_label ball_b">14</span>
							<span class="round-3 ball_e_label ball_r">24</span>
							<span class="round-3 ball_e_label ball_r">34</span>
							<span class="round-3 ball_e_label ball_g">44</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709964" value="0">
						<span class="bet-content left pd3">5尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">05</span>
							<span class="round-3 ball_e_label ball_b">15</span>
							<span class="round-3 ball_e_label ball_b">25</span>
							<span class="round-3 ball_e_label ball_r">35</span>
							<span class="round-3 ball_e_label ball_r">45</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709965" value="0">
						<span class="bet-content left pd3">6尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">06</span>
							<span class="round-3 ball_e_label ball_g">16</span>
							<span class="round-3 ball_e_label ball_b">26</span>
							<span class="round-3 ball_e_label ball_b">36</span>
							<span class="round-3 ball_e_label ball_r">46</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709966" value="0">
						<span class="bet-content left pd3">7尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">07</span>
							<span class="round-3 ball_e_label ball_g">17</span>
							<span class="round-3 ball_e_label ball_g">27</span>
							<span class="round-3 ball_e_label ball_b">37</span>
							<span class="round-3 ball_e_label ball_b">47</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709967" value="0">
						<span class="bet-content left pd3">8尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">08</span>
							<span class="round-3 ball_e_label ball_r">18</span>
							<span class="round-3 ball_e_label ball_g">28</span>
							<span class="round-3 ball_e_label ball_g">38</span>
							<span class="round-3 ball_e_label ball_b">48</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709968" value="0">
						<span class="bet-content left pd3">9尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">09</span>
							<span class="round-3 ball_e_label ball_r">19</span>
							<span class="round-3 ball_e_label ball_r">29</span>
							<span class="round-3 ball_e_label ball_g">39</span>
							<span class="round-3 ball_e_label ball_g">49</span>
						</span>
					</button>
				</div>
				
				<div ng-if="shareData.subIndex==3">
			
					<p>四连尾</p>
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709969" value="0">
						<span class="bet-content left pd3">0尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">10</span>
							<span class="round-3 ball_e_label ball_b">20</span>
							<span class="round-3 ball_e_label ball_r">30</span>
							<span class="round-3 ball_e_label ball_r">40</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709970" value="0">
						<span class="bet-content left pd3">1尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">01</span>
							<span class="round-3 ball_e_label ball_g">11</span>
							<span class="round-3 ball_e_label ball_g">21</span>
							<span class="round-3 ball_e_label ball_b">31</span>
							<span class="round-3 ball_e_label ball_b">41</span>
						</span>
					</button>
			
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709971" value="0">
						<span class="bet-content left pd3">2尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">02</span>
							<span class="round-3 ball_e_label ball_r">12</span>
							<span class="round-3 ball_e_label ball_g">22</span>
							<span class="round-3 ball_e_label ball_g">32</span>
							<span class="round-3 ball_e_label ball_b">42</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709972" value="0">
						<span class="bet-content left pd3">3尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">03</span>
							<span class="round-3 ball_e_label ball_r">13</span>
							<span class="round-3 ball_e_label ball_r">23</span>
							<span class="round-3 ball_e_label ball_g">33</span>
							<span class="round-3 ball_e_label ball_g">43</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709973" value="0">
						<span class="bet-content left pd3">4尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">04</span>
							<span class="round-3 ball_e_label ball_b">14</span>
							<span class="round-3 ball_e_label ball_r">24</span>
							<span class="round-3 ball_e_label ball_r">34</span>
							<span class="round-3 ball_e_label ball_g">44</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709974" value="0">
						<span class="bet-content left pd3">5尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">05</span>
							<span class="round-3 ball_e_label ball_b">15</span>
							<span class="round-3 ball_e_label ball_b">25</span>
							<span class="round-3 ball_e_label ball_r">35</span>
							<span class="round-3 ball_e_label ball_r">45</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709975" value="0">
						<span class="bet-content left pd3">6尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">06</span>
							<span class="round-3 ball_e_label ball_g">16</span>
							<span class="round-3 ball_e_label ball_b">26</span>
							<span class="round-3 ball_e_label ball_b">36</span>
							<span class="round-3 ball_e_label ball_r">46</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709976" value="0">
						<span class="bet-content left pd3">7尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">07</span>
							<span class="round-3 ball_e_label ball_g">17</span>
							<span class="round-3 ball_e_label ball_g">27</span>
							<span class="round-3 ball_e_label ball_b">37</span>
							<span class="round-3 ball_e_label ball_b">47</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709977" value="0">
						<span class="bet-content left pd3">8尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">08</span>
							<span class="round-3 ball_e_label ball_r">18</span>
							<span class="round-3 ball_e_label ball_g">28</span>
							<span class="round-3 ball_e_label ball_g">38</span>
							<span class="round-3 ball_e_label ball_b">48</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709978" value="0">
						<span class="bet-content left pd3">9尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">09</span>
							<span class="round-3 ball_e_label ball_r">19</span>
							<span class="round-3 ball_e_label ball_r">29</span>
							<span class="round-3 ball_e_label ball_g">39</span>
							<span class="round-3 ball_e_label ball_g">49</span>
						</span>
					</button>
				</div>
				
				<div ng-if="shareData.subIndex==4">

					<p>五连尾</p>
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709979" value="0">
						<span class="bet-content left pd3">0尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">10</span>
							<span class="round-3 ball_e_label ball_b">20</span>
							<span class="round-3 ball_e_label ball_r">30</span>
							<span class="round-3 ball_e_label ball_r">40</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709980" value="0">
						<span class="bet-content left pd3">1尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">01</span>
							<span class="round-3 ball_e_label ball_g">11</span>
							<span class="round-3 ball_e_label ball_g">21</span>
							<span class="round-3 ball_e_label ball_b">31</span>
							<span class="round-3 ball_e_label ball_b">41</span>
						</span>
					</button>
			
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709981" value="0">
						<span class="bet-content left pd3">2尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">02</span>
							<span class="round-3 ball_e_label ball_r">12</span>
							<span class="round-3 ball_e_label ball_g">22</span>
							<span class="round-3 ball_e_label ball_g">32</span>
							<span class="round-3 ball_e_label ball_b">42</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709982" value="0">
						<span class="bet-content left pd3">3尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">03</span>
							<span class="round-3 ball_e_label ball_r">13</span>
							<span class="round-3 ball_e_label ball_r">23</span>
							<span class="round-3 ball_e_label ball_g">33</span>
							<span class="round-3 ball_e_label ball_g">43</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709983" value="0">
						<span class="bet-content left pd3">4尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">04</span>
							<span class="round-3 ball_e_label ball_b">14</span>
							<span class="round-3 ball_e_label ball_r">24</span>
							<span class="round-3 ball_e_label ball_r">34</span>
							<span class="round-3 ball_e_label ball_g">44</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709984" value="0">
						<span class="bet-content left pd3">5尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">05</span>
							<span class="round-3 ball_e_label ball_b">15</span>
							<span class="round-3 ball_e_label ball_b">25</span>
							<span class="round-3 ball_e_label ball_r">35</span>
							<span class="round-3 ball_e_label ball_r">45</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709985" value="0">
						<span class="bet-content left pd3">6尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_g">06</span>
							<span class="round-3 ball_e_label ball_g">16</span>
							<span class="round-3 ball_e_label ball_b">26</span>
							<span class="round-3 ball_e_label ball_b">36</span>
							<span class="round-3 ball_e_label ball_r">46</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709986" value="0">
						<span class="bet-content left pd3">7尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">07</span>
							<span class="round-3 ball_e_label ball_g">17</span>
							<span class="round-3 ball_e_label ball_g">27</span>
							<span class="round-3 ball_e_label ball_b">37</span>
							<span class="round-3 ball_e_label ball_b">47</span>
						</span>
					</button>
					
					<button class="btn btn-danger-outline-sgd bet ok" data-id="709987" value="0">
						<span class="bet-content left pd3">8尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_r">08</span>
							<span class="round-3 ball_e_label ball_r">18</span>
							<span class="round-3 ball_e_label ball_g">28</span>
							<span class="round-3 ball_e_label ball_g">38</span>
							<span class="round-3 ball_e_label ball_b">48</span>
						</span>
					</button>

					<button class="btn btn-danger-outline-sgd bet ok" data-id="709988" value="0">
						<span class="bet-content left pd3">9尾</span>
						<span class="bet-item left lh14 r_ma">1.798</span>
						<span class="right mr10 bet-round">
							<span class="round-3 ball_e_label ball_b">09</span>
							<span class="round-3 ball_e_label ball_r">19</span>
							<span class="round-3 ball_e_label ball_r">29</span>
							<span class="round-3 ball_e_label ball_g">39</span>
							<span class="round-3 ball_e_label ball_g">49</span>
						</span>
					</button>
				</div>
			</ion-content>
		</div>
	</div>
</div>
</ion-content>