<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs" style="margin-left:380px">
			<div class="row" ng-init="shareData.subIndex=2">
				<div class="col sub-col col-sm-3" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2);">特码B</a>
				</div>
				
				<div class="col sub-col col-sm-3" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1);">特码A</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40" scroll="false">
				<div ng-if="shareData.subIndex==1">
					<p>特码A</p>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708501" value="0"><span class="ball_e_label ball_r">01</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708502" value="0"><span class="ball_e_label ball_r">02</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708503" value="0"><span class="ball_e_label ball_b">03</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708504" value="0"><span class="ball_e_label ball_b">04</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708505" value="0"><span class="ball_e_label ball_g">05</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708506" value="0"><span class="ball_e_label ball_g">06</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708507" value="0"><span class="ball_e_label ball_r">07</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708508" value="0"><span class="ball_e_label ball_r">08</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708509" value="0"><span class="ball_e_label ball_b">09</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708510" value="0"><span class="ball_e_label ball_b">10</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708511" value="0"><span class="ball_e_label ball_g">11</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708512" value="0"><span class="ball_e_label ball_r">12</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708513" value="0"><span class="ball_e_label ball_r">13</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708514" value="0"><span class="ball_e_label ball_b">14</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708515" value="0"><span class="ball_e_label ball_b">15</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708516" value="0"><span class="ball_e_label ball_g">16</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708517" value="0"><span class="ball_e_label ball_g">17</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708518" value="0"><span class="ball_e_label ball_r">18</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708519" value="0"><span class="ball_e_label ball_r">19</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708520" value="0"><span class="ball_e_label ball_b">20</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708521" value="0"><span class="ball_e_label ball_g">21</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708522" value="0"><span class="ball_e_label ball_g">22</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708523" value="0"><span class="ball_e_label ball_r">23</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708524" value="0"><span class="ball_e_label ball_r">24</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708525" value="0"><span class="ball_e_label ball_b">25</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708526" value="0"><span class="ball_e_label ball_b">26</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708527" value="0"><span class="ball_e_label ball_g">27</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708528" value="0"><span class="ball_e_label ball_g">28</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708529" value="0"><span class="ball_e_label ball_r">29</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708530" value="0"><span class="ball_e_label ball_r">30</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708531" value="0"><span class="ball_e_label ball_b">31</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708532" value="0"><span class="ball_e_label ball_g">32</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708533" value="0"><span class="ball_e_label ball_g">33</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708534" value="0"><span class="ball_e_label ball_r">34</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708535" value="0"><span class="ball_e_label ball_r">35</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708536" value="0"><span class="ball_e_label ball_b">36</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708537" value="0"><span class="ball_e_label ball_b">37</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708538" value="0"><span class="ball_e_label ball_g">38</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708539" value="0"><span class="ball_e_label ball_g">39</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708540" value="0"><span class="ball_e_label ball_r">40</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708541" value="0"><span class="ball_e_label ball_b">41</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708542" value="0"><span class="ball_e_label ball_b">42</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708543" value="0"><span class="ball_e_label ball_g">43</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708544" value="0"><span class="ball_e_label ball_g">44</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708545" value="0"><span class="ball_e_label ball_r">45</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708546" value="0"><span class="ball_e_label ball_r">46</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708547" value="0"><span class="ball_e_label ball_b">47</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708548" value="0"><span class="ball_e_label ball_b">48</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708549" value="0"><span class="ball_e_label ball_b">49</span><span class="r_ma bet-item">48.6</span></button>					
		
				</div>
			
				<div ng-if="shareData.subIndex==2">
				
					<p>特码B</p>	
					<button class="btn btn-danger-outline-gd bet ok" data-id="708550" value="0"><span class="ball_e_label ball_r">01</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708551" value="0"><span class="ball_e_label ball_r">02</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708552" value="0"><span class="ball_e_label ball_b">03</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708553" value="0"><span class="ball_e_label ball_b">04</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708554" value="0"><span class="ball_e_label ball_g">05</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708555" value="0"><span class="ball_e_label ball_g">06</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708556" value="0"><span class="ball_e_label ball_r">07</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708557" value="0"><span class="ball_e_label ball_r">08</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708558" value="0"><span class="ball_e_label ball_b">09</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708559" value="0"><span class="ball_e_label ball_b">10</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708560" value="0"><span class="ball_e_label ball_g">11</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708561" value="0"><span class="ball_e_label ball_r">12</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708562" value="0"><span class="ball_e_label ball_r">13</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708563" value="0"><span class="ball_e_label ball_b">14</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708564" value="0"><span class="ball_e_label ball_b">15</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708565" value="0"><span class="ball_e_label ball_g">16</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708566" value="0"><span class="ball_e_label ball_g">17</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708567" value="0"><span class="ball_e_label ball_r">18</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708568" value="0"><span class="ball_e_label ball_r">19</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708569" value="0"><span class="ball_e_label ball_b">20</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708570" value="0"><span class="ball_e_label ball_g">21</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708571" value="0"><span class="ball_e_label ball_g">22</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708572" value="0"><span class="ball_e_label ball_r">23</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708573" value="0"><span class="ball_e_label ball_r">24</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708574" value="0"><span class="ball_e_label ball_b">25</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708575" value="0"><span class="ball_e_label ball_b">26</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708576" value="0"><span class="ball_e_label ball_g">27</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708577" value="0"><span class="ball_e_label ball_g">28</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708578" value="0"><span class="ball_e_label ball_r">29</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708579" value="0"><span class="ball_e_label ball_r">30</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708580" value="0"><span class="ball_e_label ball_b">31</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708581" value="0"><span class="ball_e_label ball_g">32</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708582" value="0"><span class="ball_e_label ball_g">33</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708583" value="0"><span class="ball_e_label ball_r">34</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708584" value="0"><span class="ball_e_label ball_r">35</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708585" value="0"><span class="ball_e_label ball_b">36</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708586" value="0"><span class="ball_e_label ball_b">37</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708587" value="0"><span class="ball_e_label ball_g">38</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708588" value="0"><span class="ball_e_label ball_g">39</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708589" value="0"><span class="ball_e_label ball_r">40</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708590" value="0"><span class="ball_e_label ball_b">41</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708591" value="0"><span class="ball_e_label ball_b">42</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708592" value="0"><span class="ball_e_label ball_g">43</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708593" value="0"><span class="ball_e_label ball_g">44</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708594" value="0"><span class="ball_e_label ball_r">45</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708595" value="0"><span class="ball_e_label ball_r">46</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708596" value="0"><span class="ball_e_label ball_b">47</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="708597" value="0"><span class="ball_e_label ball_b">48</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="708598" value="0"><span class="ball_e_label ball_b">49</span><span class="r_ma bet-item">48.6</span></button>					
		
				</div>
				
				<p>两面</p>
				<button class="btn btn-danger-outline bet ok" data-id="708601" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708602" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708603" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708604" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708701" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708702" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="708703" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
					
			</ion-content>
		</div>
	</div>
</div>
</ion-content>