<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<p>五行</p>
	<button class="btn btn-danger-outline bet ok" data-id="709301" value="0">金<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="709302" value="0">木<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="709303" value="0">水<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="709304" value="0">火<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="709305" value="0">土<br><span class="r_ma bet-item">1.98<span></button>
</div>
</ion-content>