<ion-content class="bet-view" scroll="false">
	<div id="gam1_1" class="tabcontent">
		<p>正码一</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092052" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092053" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092050" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092051" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092056" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092057" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092054" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092055" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092061" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092062" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092058" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092059" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092060" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>

		<p>正码二</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092114" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092115" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092112" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092113" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092118" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092119" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092116" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092117" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092123" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092124" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092120" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092121" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092122" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>

		<p>正码三</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092176" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092177" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092174" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092175" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092180" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092181" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092178" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092179" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092185" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092186" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092182" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092183" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092184" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>

		<p>正码四</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092238" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092239" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092236" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092237" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092242" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092243" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092240" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092241" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092247" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092248" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092244" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092245" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092246" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>

		<p>正码五</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092300" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092301" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092298" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092299" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092304" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092305" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092302" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092303" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092309" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092310" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092306" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092307" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092308" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>

		<p>正码六</p>
		<button class="btn btn-danger-outline bet ok" data-id="7092362" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092363" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092360" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092361" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092366" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092367" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092364" value="0">合单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092365" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092371" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092372" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092368" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092369" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="7092370" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	</div>	
</ion-content>