<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<div id="sub-navs" ng-init="selectFirstSub();" style="display: none">
		<a class="nav-item" data-id="709800" play-type="HX" min-size="5" max-size="12">此处为了兼容连码的选号方式设定，实际并不显示在页面上</a>
	</div>

	<p>{{shareData.odds.length == 0 ? '自选不中' : ('赔率：' + shareData.odds.toString())}}</p>

	<button class="btn btn-danger-outline-gd bet ok" data-id="1" value="0"><span class="ball_e_label ball_r">01</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="2" value="0"><span class="ball_e_label ball_r">02</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="3" value="0"><span class="ball_e_label ball_b">03</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="4" value="0"><span class="ball_e_label ball_b">04</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="5" value="0"><span class="ball_e_label ball_g">05</span></button>

	<button class="btn btn-danger-outline-gd bet ok" data-id="6" value="0"><span class="ball_e_label ball_g">06</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="7" value="0"><span class="ball_e_label ball_r">07</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="8" value="0"><span class="ball_e_label ball_r">08</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="9" value="0"><span class="ball_e_label ball_b">09</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="10" value="0"><span class="ball_e_label ball_b">10</span></button>
	
	<button class="btn btn-danger-outline-gd bet ok" data-id="11" value="0"><span class="ball_e_label ball_g">11</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="12" value="0"><span class="ball_e_label ball_r">12</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="13" value="0"><span class="ball_e_label ball_r">13</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="14" value="0"><span class="ball_e_label ball_b">14</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="15" value="0"><span class="ball_e_label ball_b">15</span></button>
	
	<button class="btn btn-danger-outline-gd bet ok" data-id="16" value="0"><span class="ball_e_label ball_g">16</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="17" value="0"><span class="ball_e_label ball_g">17</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="18" value="0"><span class="ball_e_label ball_r">18</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="19" value="0"><span class="ball_e_label ball_r">19</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="20" value="0"><span class="ball_e_label ball_b">20</span></button>
	
	<button class="btn btn-danger-outline-gd bet ok" data-id="21" value="0"><span class="ball_e_label ball_g">21</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="22" value="0"><span class="ball_e_label ball_g">22</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="23" value="0"><span class="ball_e_label ball_r">23</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="24" value="0"><span class="ball_e_label ball_r">24</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="25" value="0"><span class="ball_e_label ball_b">25</span></button>
	
	<button class="btn btn-danger-outline-gd bet ok" data-id="26" value="0"><span class="ball_e_label ball_b">26</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="27" value="0"><span class="ball_e_label ball_g">27</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="28" value="0"><span class="ball_e_label ball_g">28</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="29" value="0"><span class="ball_e_label ball_r">29</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="30" value="0"><span class="ball_e_label ball_r">30</span></button>

	<button class="btn btn-danger-outline-gd bet ok" data-id="31" value="0"><span class="ball_e_label ball_b">31</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="32" value="0"><span class="ball_e_label ball_g">32</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="33" value="0"><span class="ball_e_label ball_g">33</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="34" value="0"><span class="ball_e_label ball_r">34</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="35" value="0"><span class="ball_e_label ball_r">35</span></button>
	
	<button class="btn btn-danger-outline-gd bet ok" data-id="36" value="0"><span class="ball_e_label ball_b">36</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="37" value="0"><span class="ball_e_label ball_b">37</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="38" value="0"><span class="ball_e_label ball_g">38</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="39" value="0"><span class="ball_e_label ball_g">39</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="40" value="0"><span class="ball_e_label ball_r">40</span></button>

	<button class="btn btn-danger-outline-gd bet ok" data-id="41" value="0"><span class="ball_e_label ball_b">41</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="42" value="0"><span class="ball_e_label ball_b">42</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="43" value="0"><span class="ball_e_label ball_g">43</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="44" value="0"><span class="ball_e_label ball_g">44</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="45" value="0"><span class="ball_e_label ball_r">45</span></button>

	<button class="btn btn-danger-outline-gd bet ok" data-id="46" value="0"><span class="ball_e_label ball_r">46</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="47" value="0"><span class="ball_e_label ball_b">47</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="48" value="0"><span class="ball_e_label ball_b">48</span></button>
	<button class="btn btn-danger-outline-gd bet ok" data-id="49" value="0"><span class="ball_e_label ball_g">49</span></button>
</div>
</ion-content>