<ion-content class="bet-view" scroll="false">
	<div id="gam1_3" class="tabcontent">
		<p>第三球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213201" value="0">1<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213202" value="0">2<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213203" value="0">3<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213204" value="0">4<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213205" value="0">5<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213206" value="0">6<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213207" value="0">7<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213208" value="0">8<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213209" value="0">9<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213210" value="0">10<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213211" value="0">11<br><span class="r_ma bet-item">10.8<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="213212" value="0">大<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213213" value="0">小<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213214" value="0">单<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213215" value="0">双<br><span class="r_ma bet-item">1.75<span></button>
	</div>
</ion-content>