<ion-content class="bet-view" scroll="false">

	<div id="gam1_4" class="tabcontent">
		<p>第四球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213301" value="0">1<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213302" value="0">2<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213303" value="0">3<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213304" value="0">4<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213305" value="0">5<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213306" value="0">6<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213307" value="0">7<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213308" value="0">8<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213309" value="0">9<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213310" value="0">10<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213311" value="0">11<br><span class="r_ma bet-item">10.8<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="213312" value="0">大<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213313" value="0">小<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213314" value="0">单<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213315" value="0">双<br><span class="r_ma bet-item">1.75<span></button>
	</div>
</ion-content>