<ion-content class="bet-view" scroll="false">

	<div id="gam1_5" class="tabcontent">
		<p>第五球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213401" value="0">1<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213402" value="0">2<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213403" value="0">3<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213404" value="0">4<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213405" value="0">5<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213406" value="0">6<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213407" value="0">7<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213408" value="0">8<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213409" value="0">9<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213410" value="0">10<br><span class="r_ma bet-item">10.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213411" value="0">11<br><span class="r_ma bet-item">10.8<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="213412" value="0">大<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213413" value="0">小<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213414" value="0">单<br><span class="r_ma bet-item">1.75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213415" value="0">双<br><span class="r_ma bet-item">1.75<span></button>
	</div>
</ion-content>