<ion-content class="bet-view" scroll="false">

	<div id="gam1_1" class="tabcontent">
		<p>总和、龙虎</p>
		<button class="btn btn-danger-outline bet ok" data-id="212701" value="0">总和大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212705" value="0">总和小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212702" value="0">总和单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212706" value="0">总和双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212703" value="0">总和尾大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212707" value="0">总和尾小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212704" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="212708" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<p>第一球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213012" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213013" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213014" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213015" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第二球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213112" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213113" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213114" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213115" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第三球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213212" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213213" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213214" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213215" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第四球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213312" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213313" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213314" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213315" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第五球</p>
		<button class="btn btn-danger-outline bet ok" data-id="213412" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213413" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213414" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="213415" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
	</div>
</ion-content>
