
<ion-content class="bet-view" scroll="false">	
	<div id="gam1_1" class="tabcontent">
		<p>总和、龙虎</p>
		<button class="btn btn-danger-outline bet ok" data-id="2101" value="0">总和大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2102" value="0">总和小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2103" value="0">总和单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2104" value="0">总和双<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2105" value="0">龙<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2106" value="0">虎<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2107" value="0">和<br><span class="bet-item r_ma">9<span></button>
		<p>第一球</p>
		<button class="btn btn-danger-outline bet ok" data-id="2210" value="0">大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2211" value="0">小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2212" value="0">单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2213" value="0">双<br><span class="bet-item r_ma">1.98<span></button>
		<p>第二球</p>
		<button class="btn btn-danger-outline bet ok" data-id="2310" value="0">大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2311" value="0">小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2312" value="0">单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2313" value="0">双<br><span class="bet-item r_ma">1.98<span></button>
		<p>第三球</p>
		<button class="btn btn-danger-outline bet ok" data-id="2410" value="0">大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2411" value="0">小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2412" value="0">单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2413" value="0">双<br><span class="bet-item r_ma">1.98<span></button>
		<p>第四球</p>
		<button class="btn btn-danger-outline bet ok" data-id="2510" value="0">大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2511" value="0">小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2512" value="0">单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2513" value="0">双<br><span class="bet-item r_ma">1.98<span></button>
		<p>第五球</p>
		<button class="btn btn-danger-outline bet ok" data-id="2610" value="0">大<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2611" value="0">小<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2612" value="0">单<br><span class="bet-item r_ma">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2613" value="0">双<br><span class="bet-item r_ma">1.98<span></button>
	</div>

</ion-content>