
<ion-content class="bet-view" scroll="false">

	<div id="gam1_3" class="tabcontent">
		<p>前三</p>
		<button class="btn btn-danger-outline bet ok" data-id="2701" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2702" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2703" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2704" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2705" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
		<p>中三</p>
		<button class="btn btn-danger-outline bet ok" data-id="2801" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2802" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2803" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2804" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2805" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
		<p>后三</p>
		<button class="btn btn-danger-outline bet ok" data-id="2901" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2902" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2903" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2904" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="2905" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
	</div>
</ion-content>