<ion-view view-title="活动中心">

    <div id="app" style="padding-bottom: 1.33333rem;">
        <div class="isHeader isNav">
            <div class="headerWrap">
                <div class="vux-header header">
                    <div class="vux-header-left">
                        <a class="vux-header-back" ng-click="back();">返回</a>
                        <div class="left-arrow" style=""></div>
                    </div>
                    <h1 class="vux-header-title">活动中心</h1>
                    <!-- <div class="vux-header-right">
                        <a href="#/setting" class="">设置</a>
                    </div> -->
                </div>
            </div>
            <div class="userInfo group-min-top">
                <div class="">
                    <div class="p_userinfo taskpanel">
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_1.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>邀请好友</b></span>
                                    <span class="c-right">2019.10.01 结束</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_2.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>感恩回馈 彩金大放送</b></span>
                                    <span class="c-right">2019.05.31 结束</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_3.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>天天红包雨</b></span>
                                    <span class="c-right">2018.06.04 结束</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_4.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>幸运大转盘</b></span>
                                    <span class="c-right">2018.09.17 结束</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_5.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>双旦活动</b></span>
                                    <span class="c-right">2018.09.17 结束</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <div class="actitem-wrap">
                                <span class="status underway">进行中</span>
                                <div class="act-banner">
                                    <img src="{{base_url}}/assets/img/act_6.jpg" alt="">
                                </div>
                                <div class="act-info">
                                    <span class="c-red"><b>天天返利</b></span>
                                    <span class="c-right">2019.05.31 结束</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
</ion-view>