<ion-content class="bet-view" scroll="false">
	<div id="gam1_2" class="tabcontent">
		<p>第一球</p>
		<button class="btn btn-danger-outline bet ok" data-id="607501" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607502" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607503" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607504" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607505" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607506" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607507" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607508" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607509" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607510" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607511" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607512" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607513" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607514" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607515" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607516" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607517" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607518" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607519" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607520" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="607521" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607522" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607523" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607524" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607527" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607528" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607525" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607526" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607536" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607537" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607529" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607530" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607531" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607532" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="607533" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607534" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607535" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>