<ion-content class="bet-view" scroll="false">
	<div id="gam1_4" class="tabcontent">
		<p>第三球</p>
		<button class="btn btn-danger-outline  bet ok" data-id="607701" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607702" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607703" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607704" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607705" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607706" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607707" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607708" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607709" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607710" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607711" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607712" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607713" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607714" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607715" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607716" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607717" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607718" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607719" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607720" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline  bet ok" data-id="607721" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607722" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607723" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607724" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607727" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607728" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607725" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607726" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607736" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607737" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607729" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607730" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607731" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607732" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline  bet ok" data-id="607733" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607734" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607735" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>