<ion-content class="bet-view" scroll="false">
	<div id="gam1_5" class="tabcontent">
		<p>第四球</p>
		<button class="btn btn-danger-outline  bet ok" data-id="607801" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607802" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607803" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607804" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607805" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607806" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607807" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607808" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607809" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607810" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607811" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607812" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607813" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607814" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607815" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607816" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607817" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607818" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607819" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607820" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline  bet ok" data-id="607821" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607822" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607823" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607824" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607827" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607828" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607825" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607826" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607836" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607837" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607829" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607830" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607831" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607832" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline  bet ok" data-id="607833" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607834" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline  bet ok" data-id="607835" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>