<ion-content class="bet-view" scroll="false">
	<div id="gam1_6" class="tabcontent">
		<p>第五球</p>
		<button class="btn btn-danger-outline bet ok" data-id="607901" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607902" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607903" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607904" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607905" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607906" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607907" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607908" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607909" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607910" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607911" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607912" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607913" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607914" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607915" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607916" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607917" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607918" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607919" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607920" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="607921" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607922" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607923" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607924" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607927" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607928" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607925" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607926" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607929" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607930" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607931" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607932" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="607933" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607934" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="607935" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>