<ion-content class="bet-view" scroll="false">
	<div id="gam1_7" class="tabcontent">
		<p>第六球</p>
		<button class="btn btn-danger-outline bet ok" data-id="608001" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608002" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608003" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608004" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608005" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608006" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608007" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608008" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608009" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608010" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608011" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608012" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608013" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608014" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608015" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608016" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608017" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608018" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608019" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608020" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="608021" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608022" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608023" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608024" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608027" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608028" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608025" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608026" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608029" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608030" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608031" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608032" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="608033" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608034" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608035" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>