<ion-content class="bet-view" scroll="false">
	<div id="gam1_9" class="tabcontent">
		<p>第八球</p>
		<button class="btn btn-danger-outline bet ok" data-id="608201" value="0">1<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608202" value="0">2<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608203" value="0">3<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608204" value="0">4<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608205" value="0">5<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608206" value="0">6<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608207" value="0">7<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608208" value="0">8<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608209" value="0">9<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608210" value="0">10<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608211" value="0">11<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608212" value="0">12<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608213" value="0">13<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608214" value="0">14<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608215" value="0">15<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608216" value="0">16<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608217" value="0">17<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608218" value="0">18<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608219" value="0">19<br><span class="r_ma bet-item">19<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608220" value="0">20<br><span class="r_ma bet-item">19<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="608221" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608222" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608223" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608224" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608227" value="0">合单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608228" value="0">合双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608225" value="0">尾大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608226" value="0">尾小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608229" value="0">东<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608230" value="0">西<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608231" value="0">南<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608232" value="0">北<br><span class="r_ma bet-item">3.3<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="608233" value="0">中<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608234" value="0">发<br><span class="r_ma bet-item">2.6<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="608235" value="0">白<br><span class="r_ma bet-item">2.6<span></button>
	</div>
</ion-content>