<ion-content class="bet-view">

	<div id="gam1_2" class="tabcontent">
		<p>两面</p>
		<button class="btn btn-danger-outline bet ok" data-id="808601" value="0">特大<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808602" value="0">特小<br><span class="r_ma bet-item">9.8</span></button>
		
		<button class="btn btn-danger-outline bet ok" data-id="808603" value="0">特单<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808604" value="0">特双<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808605" value="0">特合大<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808606" value="0">特合小<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808607" value="0">特合单<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808608" value="0">特合双<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808615" value="0">特天肖<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808616" value="0">特地肖<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808617" value="0">特前肖<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808618" value="0">特后肖<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808619" value="0">特家肖<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808620" value="0">特野肖<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808609" value="0">特尾大<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808610" value="0">特尾小<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808621" value="0">总和单<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808622" value="0">总和双<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808623" value="0">总和大<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808624" value="0">总和小<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808611" value="0">特大单<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808612" value="0">特大双<br><span class="r_ma bet-item">9.8</span></button>

		<button class="btn btn-danger-outline bet ok" data-id="808613" value="0">特小单<br><span class="r_ma bet-item">9.8</span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808614" value="0">特小双<br><span class="r_ma bet-item">9.8</span></button>
	</div>
</ion-content>

