<ion-content class="bet-view" scroll="false"
	<div id="gam1_1" class="tabcontent">
		<p>7色波</p>
		<button class="btn btn-danger-outline bet ok" data-id="709601" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="709602" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="709603" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="709604" value="0">和局<br><span class="r_ma bet-item">1.98<span></button>
		
		<p>红球</p>
		<button class="btn btn-danger-outline bet ok" data-id="708704" value="0">红单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708705" value="0">红双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708706" value="0">红大<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708707" value="0">红小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708716" value="0">红大单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708717" value="0">红大双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708718" value="0">红小单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708719" value="0">红小双<br><span class="r_ma bet-item">1.98<span></button>
	
		<p>蓝球</p>
		<button class="btn btn-danger-outline bet ok" data-id="708708" value="0">蓝单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708709" value="0">蓝双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708710" value="0">蓝大<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708711" value="0">蓝小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708720" value="0">蓝大单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708721" value="0">蓝大双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708722" value="0">蓝小单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708723" value="0">蓝小双<br><span class="r_ma bet-item">1.98<span></button>
		
		<p>绿球</p>
		<button class="btn btn-danger-outline bet ok" data-id="708712" value="0">绿单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708713" value="0">绿双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708714" value="0">绿大<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708715" value="0">绿小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708724" value="0">绿大单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708725" value="0">绿大双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708726" value="0">绿小单<br><span class="r_ma bet-item">9<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="708727" value="0">绿小双<br><span class="r_ma bet-item">1.98<span></button>
	</div>
</ion-content>