<ion-content class="bet-view" scroll="false">
<div id="gam1_1" class="tabcontent">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row" ng-init="shareData.subIndex=2">
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2);">特码B</a>
				</div>
				
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1);">特码A</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40" scroll="false">
				<div ng-if="shareData.subIndex==1">
					<p>特码A</p>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808501" value="0"><span class="ball_e_label ball_r">01</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808502" value="0"><span class="ball_e_label ball_r">02</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808503" value="0"><span class="ball_e_label ball_b">03</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808504" value="0"><span class="ball_e_label ball_b">04</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808505" value="0"><span class="ball_e_label ball_g">05</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808506" value="0"><span class="ball_e_label ball_g">06</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808507" value="0"><span class="ball_e_label ball_r">07</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808508" value="0"><span class="ball_e_label ball_r">08</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808509" value="0"><span class="ball_e_label ball_b">09</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808510" value="0"><span class="ball_e_label ball_b">10</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808511" value="0"><span class="ball_e_label ball_g">11</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808512" value="0"><span class="ball_e_label ball_r">12</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808513" value="0"><span class="ball_e_label ball_r">13</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808514" value="0"><span class="ball_e_label ball_b">14</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808515" value="0"><span class="ball_e_label ball_b">15</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808516" value="0"><span class="ball_e_label ball_g">16</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808517" value="0"><span class="ball_e_label ball_g">17</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808518" value="0"><span class="ball_e_label ball_r">18</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808519" value="0"><span class="ball_e_label ball_r">19</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808520" value="0"><span class="ball_e_label ball_b">20</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808521" value="0"><span class="ball_e_label ball_g">21</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808522" value="0"><span class="ball_e_label ball_g">22</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808523" value="0"><span class="ball_e_label ball_r">23</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808524" value="0"><span class="ball_e_label ball_r">24</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808525" value="0"><span class="ball_e_label ball_b">25</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808526" value="0"><span class="ball_e_label ball_b">26</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808527" value="0"><span class="ball_e_label ball_g">27</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808528" value="0"><span class="ball_e_label ball_g">28</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808529" value="0"><span class="ball_e_label ball_r">29</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808530" value="0"><span class="ball_e_label ball_r">30</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808531" value="0"><span class="ball_e_label ball_b">31</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808532" value="0"><span class="ball_e_label ball_g">32</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808533" value="0"><span class="ball_e_label ball_g">33</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808534" value="0"><span class="ball_e_label ball_r">34</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808535" value="0"><span class="ball_e_label ball_r">35</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808536" value="0"><span class="ball_e_label ball_b">36</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808537" value="0"><span class="ball_e_label ball_b">37</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808538" value="0"><span class="ball_e_label ball_g">38</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808539" value="0"><span class="ball_e_label ball_g">39</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808540" value="0"><span class="ball_e_label ball_r">40</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808541" value="0"><span class="ball_e_label ball_b">41</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808542" value="0"><span class="ball_e_label ball_b">42</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808543" value="0"><span class="ball_e_label ball_g">43</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808544" value="0"><span class="ball_e_label ball_g">44</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808545" value="0"><span class="ball_e_label ball_r">45</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808546" value="0"><span class="ball_e_label ball_r">46</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808547" value="0"><span class="ball_e_label ball_b">47</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808548" value="0"><span class="ball_e_label ball_b">48</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808549" value="0"><span class="ball_e_label ball_b">49</span><span class="r_ma bet-item">48.6</span></button>					
		
				</div>
			
				<div ng-if="shareData.subIndex==2">
				
					<p>特码B</p>	
					<button class="btn btn-danger-outline-gd bet ok" data-id="808550" value="0"><span class="ball_e_label ball_r">01</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808551" value="0"><span class="ball_e_label ball_r">02</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808552" value="0"><span class="ball_e_label ball_b">03</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808553" value="0"><span class="ball_e_label ball_b">04</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808554" value="0"><span class="ball_e_label ball_g">05</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808555" value="0"><span class="ball_e_label ball_g">06</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808556" value="0"><span class="ball_e_label ball_r">07</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808557" value="0"><span class="ball_e_label ball_r">08</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808558" value="0"><span class="ball_e_label ball_b">09</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808559" value="0"><span class="ball_e_label ball_b">10</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808560" value="0"><span class="ball_e_label ball_g">11</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808561" value="0"><span class="ball_e_label ball_r">12</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808562" value="0"><span class="ball_e_label ball_r">13</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808563" value="0"><span class="ball_e_label ball_b">14</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808564" value="0"><span class="ball_e_label ball_b">15</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808565" value="0"><span class="ball_e_label ball_g">16</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808566" value="0"><span class="ball_e_label ball_g">17</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808567" value="0"><span class="ball_e_label ball_r">18</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808568" value="0"><span class="ball_e_label ball_r">19</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808569" value="0"><span class="ball_e_label ball_b">20</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808570" value="0"><span class="ball_e_label ball_g">21</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808571" value="0"><span class="ball_e_label ball_g">22</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808572" value="0"><span class="ball_e_label ball_r">23</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808573" value="0"><span class="ball_e_label ball_r">24</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808574" value="0"><span class="ball_e_label ball_b">25</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808575" value="0"><span class="ball_e_label ball_b">26</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808576" value="0"><span class="ball_e_label ball_g">27</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808577" value="0"><span class="ball_e_label ball_g">28</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808578" value="0"><span class="ball_e_label ball_r">29</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808579" value="0"><span class="ball_e_label ball_r">30</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808580" value="0"><span class="ball_e_label ball_b">31</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808581" value="0"><span class="ball_e_label ball_g">32</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808582" value="0"><span class="ball_e_label ball_g">33</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808583" value="0"><span class="ball_e_label ball_r">34</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808584" value="0"><span class="ball_e_label ball_r">35</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808585" value="0"><span class="ball_e_label ball_b">36</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808586" value="0"><span class="ball_e_label ball_b">37</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808587" value="0"><span class="ball_e_label ball_g">38</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808588" value="0"><span class="ball_e_label ball_g">39</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808589" value="0"><span class="ball_e_label ball_r">40</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808590" value="0"><span class="ball_e_label ball_b">41</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808591" value="0"><span class="ball_e_label ball_b">42</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808592" value="0"><span class="ball_e_label ball_g">43</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808593" value="0"><span class="ball_e_label ball_g">44</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808594" value="0"><span class="ball_e_label ball_r">45</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808595" value="0"><span class="ball_e_label ball_r">46</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808596" value="0"><span class="ball_e_label ball_b">47</span><span class="r_ma bet-item">48.6</span></button>
					<button class="btn btn-danger-outline-gd bet ok" data-id="808597" value="0"><span class="ball_e_label ball_b">48</span><span class="r_ma bet-item">48.6</span></button>					
					<button class="btn btn-danger-outline-gd bet ok" data-id="808598" value="0"><span class="ball_e_label ball_b">49</span><span class="r_ma bet-item">48.6</span></button>					
		
				</div>
				
				<p>两面</p>
				<button class="btn btn-danger-outline bet ok" data-id="808601" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808602" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808603" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808604" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808701" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808702" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
				<button class="btn btn-danger-outline bet ok" data-id="808703" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
			</ion-content>
		</div>
	</div>
</div>
</ion-content>