<ion-content class="bet-view" scroll="false">
		<div id="gam1_1" class="tabcontent">
			<p>特肖</p>
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808801" value="0">
				<span class="bet-content left pd3">鼠</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='鼠'></span>
			</button>
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808802" value="0">
				<span class="bet-content left pd3">牛</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='牛'></span>
			</button>
			
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808803" value="0">
				<span class="bet-content left pd3">虎</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='虎'></span>
			</button>
			
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808804" value="0">
				<span class="bet-content left pd3">兔</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='兔'></span>
			</button>
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808805" value="0">
				<span class="bet-content left pd3">龙</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='龙'></span>
			</button>
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808806" value="0">
				<span class="bet-content left pd3">蛇</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='蛇'></span>
			</button>
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808807" value="0">
				<span class="bet-content left pd3">马</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='马'></span>
			</button>
			
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808808" value="0">
				<span class="bet-content left pd3">羊</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='羊'></span>
			</button>
			
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808809" value="0">
				<span class="bet-content left pd3">猴</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='猴'></span>
			</button>
		
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808810" value="0">
				<span class="bet-content left pd3">鸡</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='鸡'></span>
			</button>
			
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808811" value="0">
				<span class="bet-content left pd3">狗</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='狗'></span>
			</button>
			
			<button class="btn btn-danger-outline-sgd bet ok" data-id="808812" value="0">
				<span class="bet-content left pd3">猪</span>
				<span class="bet-item left lh14 r_ma">2.09</span>
				<span class="right mr10 bet-round" zodiac='猪'></span>
			</button>
		</div>
		</ion-content>