<ion-content class="bet-view" scroll="false">
		<div id="gam1_1" class="tabcontent">
		<p>一肖</p>
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809401" value="0">
			<span class="bet-content left pd3">鼠</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='鼠'></span>
		</button>
				
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809402" value="0">
			<span class="bet-content left pd3">牛</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='牛'></span>
		</button>
	
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809403" value="0">
			<span class="bet-content left pd3">虎</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='虎'></span>
		</button>
		
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809404" value="0">
			<span class="bet-content left pd3">兔</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='兔'></span>
		</button>
	
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809405" value="0">
			<span class="bet-content left pd3">龙</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='龙'></span>
		</button>
		
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809406" value="0">
			<span class="bet-content left pd3">蛇</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='蛇'></span>
		</button>
	
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809407" value="0">
			<span class="bet-content left pd3">马</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='马'></span>
		</button>
		
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809408" value="0">
			<span class="bet-content left pd3">羊</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='羊'></span>
		</button>
		
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809409" value="0">
			<span class="bet-content left pd3">猴</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='猴'></span>
		</button>
		
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809410" value="0">
			<span class="bet-content left pd3">鸡</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='鸡'></span>
		</button>
	
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809411" value="0">
			<span class="bet-content left pd3">狗</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='狗'></span>
		</button>
	
		<button class="btn btn-danger-outline-sgd bet ok" data-id="809412" value="0">
			<span class="bet-content left pd3">猪</span>
			<span class="bet-item left lh14 r_ma">2.09</span>
			<span class="right mr10 bet-round" zodiac='猪'></span>
		</button>
	</div>
	</ion-content>