<ion-content class="bet-view" scroll="false">
		<div id="gam1_1" class="tabcontent">
		<p>正码</p>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809101" value="0"><span class="ball_e_label ball_r">01</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809102" value="0"><span class="ball_e_label ball_r">02</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809103" value="0"><span class="ball_e_label ball_b">03</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809104" value="0"><span class="ball_e_label ball_b">04</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809105" value="0"><span class="ball_e_label ball_g">05</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809106" value="0"><span class="ball_e_label ball_g">06</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809107" value="0"><span class="ball_e_label ball_r">07</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809108" value="0"><span class="ball_e_label ball_r">08</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809109" value="0"><span class="ball_e_label ball_b">09</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809110" value="0"><span class="ball_e_label ball_b">10</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809111" value="0"><span class="ball_e_label ball_g">11</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809112" value="0"><span class="ball_e_label ball_r">12</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809113" value="0"><span class="ball_e_label ball_r">13</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809114" value="0"><span class="ball_e_label ball_b">14</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809115" value="0"><span class="ball_e_label ball_b">15</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809116" value="0"><span class="ball_e_label ball_g">16</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809117" value="0"><span class="ball_e_label ball_g">17</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809118" value="0"><span class="ball_e_label ball_r">18</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809119" value="0"><span class="ball_e_label ball_r">19</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809120" value="0"><span class="ball_e_label ball_b">20</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809121" value="0"><span class="ball_e_label ball_g">21</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809122" value="0"><span class="ball_e_label ball_g">22</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809123" value="0"><span class="ball_e_label ball_r">23</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809124" value="0"><span class="ball_e_label ball_r">24</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809125" value="0"><span class="ball_e_label ball_b">25</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809126" value="0"><span class="ball_e_label ball_b">26</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809127" value="0"><span class="ball_e_label ball_g">27</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809128" value="0"><span class="ball_e_label ball_g">28</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809129" value="0"><span class="ball_e_label ball_r">29</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809130" value="0"><span class="ball_e_label ball_r">30</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809131" value="0"><span class="ball_e_label ball_b">31</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809132" value="0"><span class="ball_e_label ball_g">32</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809133" value="0"><span class="ball_e_label ball_g">33</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809134" value="0"><span class="ball_e_label ball_r">34</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809135" value="0"><span class="ball_e_label ball_r">35</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809136" value="0"><span class="ball_e_label ball_b">36</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809137" value="0"><span class="ball_e_label ball_b">37</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809138" value="0"><span class="ball_e_label ball_g">38</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809139" value="0"><span class="ball_e_label ball_g">39</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809140" value="0"><span class="ball_e_label ball_r">40</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809141" value="0"><span class="ball_e_label ball_b">41</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809142" value="0"><span class="ball_e_label ball_b">42</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809143" value="0"><span class="ball_e_label ball_g">43</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809144" value="0"><span class="ball_e_label ball_g">44</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809145" value="0"><span class="ball_e_label ball_r">45</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809146" value="0"><span class="ball_e_label ball_r">46</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809147" value="0"><span class="ball_e_label ball_b">47</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809148" value="0"><span class="ball_e_label ball_b">48</span><span class="r_ma bet-item">48.6</span></button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="809149" value="0"><span class="ball_e_label ball_g">49</span><span class="r_ma bet-item">48.6</span></button>
	
		<p>两面</p>
		<button class="btn btn-danger-outline bet ok" data-id="808623" value="0">总大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808624" value="0">总小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808621" value="0">总单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="808622" value="0">总双<br><span class="r_ma bet-item">1.98<span></button>
	</div>
	</ion-content>