<ion-content class="bet-view" scroll="false">
		<div id="gam1_1" class="tabcontent">
			<p>正码一</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092052" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092053" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092050" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092051" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092056" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092057" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092054" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092055" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092061" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092062" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092058" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092059" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092060" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	
			<p>正码二</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092114" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092115" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092112" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092113" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092118" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092119" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092116" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092117" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092123" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092124" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092120" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092121" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092122" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	
			<p>正码三</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092176" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092177" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092174" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092175" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092180" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092181" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092178" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092179" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092185" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092186" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092182" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092183" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092184" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	
			<p>正码四</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092238" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092239" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092236" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092237" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092242" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092243" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092240" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092241" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092247" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092248" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092244" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092245" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092246" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	
			<p>正码五</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092300" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092301" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092298" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092299" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092304" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092305" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092302" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092303" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092309" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092310" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092306" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092307" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092308" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
	
			<p>正码六</p>
			<button class="btn btn-danger-outline bet ok" data-id="8092362" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092363" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092360" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092361" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092366" value="0">合大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092367" value="0">合小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092364" value="0">合单<br><span class="r_ma bet-item">9<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092365" value="0">合双<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092371" value="0">尾大<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092372" value="0">尾小<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092368" value="0">红波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092369" value="0">蓝波<br><span class="r_ma bet-item">1.98<span></button>
			<button class="btn btn-danger-outline bet ok" data-id="8092370" value="0">绿波<br><span class="r_ma bet-item">1.98<span></button>
		</div>	
	</ion-content>