<ion-content class="bet-view" scroll="false">
	<div id="gam1_1" class="tabcontent">
	<p>总肖</p>
	<button class="btn btn-danger-outline bet ok" data-id="809701" value="0">2肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809702" value="0">3肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809703" value="0">4肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809704" value="0">5肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809705" value="0">6肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809706" value="0">7肖<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809707" value="0">总肖单<br><span class="r_ma bet-item">1.98<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="809708" value="0">总肖双<br><span class="r_ma bet-item">1.98<span></button>
	</div>
</ion-content>