<ion-content class="bet-view" scroll="false">
	<div id="gam1_3" class="tabcontent">
		<p>冠军</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510201" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510202" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510203" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510204" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510205" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510206" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510207" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510208" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510209" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510210" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>亚军</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510301" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510302" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510303" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510304" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510305" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510306" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510307" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510308" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510309" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510310" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第三名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510401" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510402" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510403" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510404" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510405" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510406" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510407" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510408" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510409" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510410" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第四名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510501" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510502" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510503" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510504" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510505" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510506" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510507" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510508" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510509" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510510" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第五名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510601" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510602" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510603" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510604" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510605" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510606" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510607" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510608" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510609" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510610" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
	</div>
</ion-content>