<ion-content class="bet-view" scroll="false">
	<div id="gam1_4" class="tabcontent">
		<p>第六名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510701" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510702" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510703" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510704" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510705" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510706" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510707" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510708" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510709" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510710" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第七名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510801" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510802" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510803" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510804" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510805" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510806" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510807" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510808" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510809" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510810" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第八名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510901" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510902" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510903" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510904" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510905" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510906" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510907" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510908" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510909" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510910" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第九名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5511001" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511002" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511003" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511004" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511005" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511006" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511007" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511008" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511009" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511010" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
		<p>第十名</p>
		<button class="btn btn-danger-outline bet ok" data-id="5511101" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511102" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511103" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511104" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511105" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511106" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511107" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511108" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511109" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.93<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5511110" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.93<span></button>
	</div>
</ion-content>