<ion-content class="bet-view" scroll="false">
	<div id="gam1_2" class="tabcontent">
		<p>冠、亚军 组合</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510101" value="0">冠亚大<br><span class="r_ma bet-item">2.195<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510102" value="0">冠亚小<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510103" value="0">冠亚单<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510104" value="0">冠亚双<br><span class="r_ma bet-item">2.195<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="5510105" value="0">3<br><span class="r_ma bet-item">42<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510106" value="0">4<br><span class="r_ma bet-item">42<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510107" value="0">5<br><span class="r_ma bet-item">21<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510108" value="0">6<br><span class="r_ma bet-item">21<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510109" value="0">7<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510110" value="0">8<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510111" value="0">9<br><span class="r_ma bet-item">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510112" value="0">10<br><span class="r_ma bet-item">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510113" value="0">11<br><span class="r_ma bet-item">8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510114" value="0">12<br><span class="r_ma bet-item">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510115" value="0">13<br><span class="r_ma bet-item">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510116" value="0">14<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510117" value="0">15<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510118" value="0">16<br><span class="r_ma bet-item">21<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510119" value="0">17<br><span class="r_ma bet-item">21<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510120" value="0">18<br><span class="r_ma bet-item">42<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510121" value="0">19<br><span class="r_ma bet-item">42<span></button>
	</div>
</ion-content>