<ion-content class="bet-view" scroll="false">
	<div id="gam1_1" class="tabcontent">
		<p>冠亚和</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510101" value="0">冠亚大<br><span class="r_ma bet-item">2.195<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510102" value="0">冠亚小<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510103" value="0">冠亚单<br><span class="r_ma bet-item">1.78<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510104" value="0">冠亚双<br><span class="r_ma bet-item">2.195<span></button>
		<p>冠军</p>
		<button class="btn btn-danger-outline bet ok" data-id="5510213" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510211" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510215" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510214" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510212" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="5510216" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<p>亚军</p>
		<button class="btn btn-danger-outline bet" data-id="5510313" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510311" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510315" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510314" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510312" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510316" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<p>第三名</p>
		<button class="btn btn-danger-outline bet" data-id="5510413" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510411" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510415" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510414" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510412" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510416" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<p>第四名</p>
		<button class="btn btn-danger-outline bet" data-id="5510513" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510511" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510515" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510514" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510512" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510516" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<p>第五名</p>
		<button class="btn btn-danger-outline bet" data-id="5510613" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510611" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510615" value="0">龙<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510614" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510612" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510616" value="0">虎<br><span class="r_ma bet-item">1.993<span></button>
		<p>第六名</p>
		<button class="btn btn-danger-outline bet" data-id="5510713" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510711" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510714" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510712" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<p>第七名</p>
		<button class="btn btn-danger-outline bet" data-id="5510813" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510811" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510814" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510812" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<p>第八名</p>
		<button class="btn btn-danger-outline bet" data-id="5510913" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510911" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510914" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5510912" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<p>第九名</p>
		<button class="btn btn-danger-outline bet" data-id="5511013" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511011" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511014" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511012" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
		<p>第十名</p>
		<button class="btn btn-danger-outline bet" data-id="5511113" value="0">单<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511111" value="0">大<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511114" value="0">双<br><span class="r_ma bet-item">1.993<span></button>
		<button class="btn btn-danger-outline bet" data-id="5511112" value="0">小<br><span class="r_ma bet-item">1.993<span></button>
	</div>

</ion-content>