<ion-content class="bet-view" scroll="false">

	<div id="gam1_4" class="tabcontent">
		<p>第六名</p>
		<button class="btn btn-danger-outline bet ok" data-id="501607" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501608" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501609" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501610" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501611" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501612" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501613" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501614" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501615" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501616" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第七名</p>
		<button class="btn btn-danger-outline bet ok" data-id="501707" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501708" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501709" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501710" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501711" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501712" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501713" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501714" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501715" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501716" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第八名</p>
		<button class="btn btn-danger-outline bet ok" data-id="501807" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501808" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501809" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501810" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501811" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501812" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501813" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501814" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501815" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501816" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第九名</p>
		<button class="btn btn-danger-outline bet ok" data-id="501907" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501908" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501909" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501910" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501911" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501912" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501913" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501914" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501915" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501916" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
		<p>第十名</p>
		<button class="btn btn-danger-outline bet ok" data-id="502007" value="0"><span class="ball_g_label ball_1">1</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502008" value="0"><span class="ball_g_label ball_2">2</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502009" value="0"><span class="ball_g_label ball_3">3</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502010" value="0"><span class="ball_g_label ball_4">4</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502011" value="0"><span class="ball_g_label ball_5">5</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502012" value="0"><span class="ball_g_label ball_6">6</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502013" value="0"><span class="ball_g_label ball_7">7</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502014" value="0"><span class="ball_g_label ball_8">8</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502015" value="0"><span class="ball_g_label ball_9">9</span><br><span class="r_ma bet-item">9.8<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="502016" value="0"><span class="ball_g_label ball_10">10</span><br><span class="r_ma bet-item">9.8<span></button>
	</div>




<!-- 
	<div class="row text-center"><div class="col title-no">第六名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501607"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501608"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501609"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501610"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501611"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501612"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501613"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501614"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501615"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501616"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第七名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501707"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501708"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501709"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501710"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501711"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501712"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501713"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501714"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501715"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501716"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第八名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501807"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501808"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501809"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501810"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501811"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501812"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501813"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501814"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501815"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501816"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501907"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501908"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501909"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501910"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501911"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501912"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501913"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501914"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501915"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501916"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第十名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="502007"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="502008"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="502009"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="502010"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="502011"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="502012"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="502013"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="502014"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="502015"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="502016"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div> -->
</ion-content>