<ion-content class="bet-view" scroll="false">

	<div id="gam1_2" class="tabcontent">
		<p>冠、亚军 组合</p>
		<button class="btn btn-danger-outline bet ok" data-id="501001" value="0">冠亚大<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501002" value="0">冠亚小<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501003" value="0">冠亚单<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501004" value="0">冠亚双<br><span class="r_ma bet-item">2.2<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="501005" value="0">3<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501006" value="0">4<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501007" value="0">5<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501008" value="0">6<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501009" value="0">7<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501010" value="0">8<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501011" value="0">9<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501012" value="0">10<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501013" value="0">11<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501014" value="0">12<br><span class="r_ma bet-item">8.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501015" value="0">13<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501016" value="0">14<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501017" value="0">15<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501018" value="0">16<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501019" value="0">17<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501020" value="0">18<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="501021" value="0">19<br><span class="r_ma bet-item">42.3<span></button>
	</div>



	<!-- <div class="row text-center"><div class="col title-no">冠、亚军 组合</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="501001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="501002"><span class="bet-content">冠亚小</span> <span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="501004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="501005"><div class="bet-content">3</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="501006"><div class="bet-content">4</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="501007"><div class="bet-content">5</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="501008"><div class="bet-content">6</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="501009"><div class="bet-content">7</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="501010"><div class="bet-content">8</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="501011"><div class="bet-content">9</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="501012"><div class="bet-content">10</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="501013"><div class="bet-content">11</div><div class="bet-item">8.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="501014"><div class="bet-content">12</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="501015"><div class="bet-content">13</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="501016"><div class="bet-content">14</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="501017"><div class="bet-content">15</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="501018"><div class="bet-content">16</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="501019"><div class="bet-content">17</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="501020"><span class="bet-content">18</span> <span class="bet-item">42.3</span></div>
		<div class="col col-50 bet ok" data-id="501021"><span class="bet-content">19</span> <span class="bet-item">42.3</span></div>
	</div> -->
</ion-content>