
<ion-content class="bet-view" scroll="false">	

	<div id="gam1_1" class="tabcontent">
		<p>总和、龙虎</p>
		<button class="btn btn-danger-outline bet ok" data-id="1101" value="0">总和大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1102" value="0">总和小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1103" value="0">总和单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1104" value="0">总和双<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1105" value="0">龙<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1106" value="0">虎<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1107" value="0">和<br><span class="r_ma bet-item">9<span></button>
		<p>第一球</p>
		<button class="btn btn-danger-outline bet ok" data-id="1210" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1211" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1212" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1213" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第二球</p>
		<button class="btn btn-danger-outline bet ok" data-id="1310" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1311" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1312" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1313" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第三球</p>
		<button class="btn btn-danger-outline bet ok" data-id="1410" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1411" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1412" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1413" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第四球</p>
		<button class="btn btn-danger-outline bet ok" data-id="1510" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1511" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1512" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1513" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
		<p>第五球</p>
		<button class="btn btn-danger-outline bet ok" data-id="1610" value="0">大<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1611" value="0">小<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1612" value="0">单<br><span class="r_ma bet-item">1.98<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1613" value="0">双<br><span class="r_ma bet-item">1.98<span></button>
	</div>

</ion-content>