
<ion-content class="bet-view" scroll="false">
	<div id="game1_3" class="tabcontent">
		<p>前三</p>
		<button class="btn btn-danger-outline bet ok" data-id="1701" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1702" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1703" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1704" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1705" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
		<p>中三</p>
		<button class="btn btn-danger-outline bet ok" data-id="1801" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1802" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1803" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1804" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1805" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
		<p>后三</p>
		<button class="btn btn-danger-outline bet ok" data-id="1901" value="0">豹子<br><span class="r_ma bet-item">75<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1902" value="0">顺子<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1903" value="0">对子<br><span class="r_ma bet-item">3.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1904" value="0">半顺<br><span class="r_ma bet-item">2.5<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="1905" value="0">杂六<br><span class="r_ma bet-item">3<span></button>
	</div>
</ion-content>