<ion-content class="bet-view" scroll="false">

	<div id="gam1_1" class="tabcontent">
		<p>混合</p>
		<button class="btn btn-danger-outline bet ok" data-id="6611201" value="0">大<br><span class="bet-item r_ma">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611202" value="0">小<br><span class="bet-item r_ma">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611203" value="0">单<br><span class="bet-item r_ma">1.993<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611204" value="0">双<br><span class="bet-item r_ma">1.993<span></button>
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="6611209" value="0">极大<br><span class="bet-item r_ma">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611210" value="0">极小<br><span class="bet-item r_ma">10<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611211" value="0">豹子<br><span class="bet-item r_ma">90<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611301" value="0">红波<br><span class="bet-item r_ma">2.96<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611302" value="0">绿波<br><span class="bet-item r_ma">2.96<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611303" value="0">蓝波<br><span class="bet-item r_ma">2.96<span></button>
	</div>
</ion-content>