<ion-content class="bet-view" scroll="false">

	<div id="gam1_2" class="tabcontent">
		<p>特码</p>
		<button class="btn btn-danger-outline bet ok" data-id="6611400" value="0">0<br><span class="r_ma bet-item">940<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611401" value="0">1<br><span class="r_ma bet-item">313<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611402" value="0">2<br><span class="r_ma bet-item">156<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611403" value="0">3<br><span class="r_ma bet-item">94<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611404" value="0">4<br><span class="r_ma bet-item">62<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611405" value="0">5<br><span class="r_ma bet-item">44<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611406" value="0">6<br><span class="r_ma bet-item">33<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611407" value="0">7<br><span class="r_ma bet-item">26<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611408" value="0">8<br><span class="r_ma bet-item">20<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611409" value="0">9<br><span class="r_ma bet-item">17<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611410" value="0">10<br><span class="r_ma bet-item">15<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611411" value="0">11<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611412" value="0">12<br><span class="r_ma bet-item">13<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611413" value="0">13<br><span class="r_ma bet-item">12<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611414" value="0">14<br><span class="r_ma bet-item">12<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611415" value="0">15<br><span class="r_ma bet-item">13<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611416" value="0">16<br><span class="r_ma bet-item">14<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611417" value="0">17<br><span class="r_ma bet-item">15<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611418" value="0">18<br><span class="r_ma bet-item">17<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611419" value="0">19<br><span class="r_ma bet-item">20<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611420" value="0">20<br><span class="r_ma bet-item">26<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611421" value="0">21<br><span class="r_ma bet-item">33<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611422" value="0">22<br><span class="r_ma bet-item">44<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611423" value="0">23<br><span class="r_ma bet-item">62<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611424" value="0">24<br><span class="r_ma bet-item">94<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611425" value="0">25<br><span class="r_ma bet-item">156<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611426" value="0">26<br><span class="r_ma bet-item">313<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="6611427" value="0">27<br><span class="r_ma bet-item">940<span></button>
	</div>
	
</ion-content>